/* Styling of the table. Placing it inside a Bootstrap card to position it optimally */
.card {
  box-shadow: 1rem 1rem 3rem $light-charcoal,
-1rem -1rem 3rem $white-charcoal;
  margin-left: auto;
  margin-right: auto;
  border: none;

}