/* Import of SCSS files used to generate the main.css stylesheet */ /* Colour schema */
/* Blue */
/* Charcoal */
/* Whites and Shadows */
/* Green */
/* Red */
/* Import to enable use of variables */ /* Colour schema */
/* Blue */
/* Charcoal */
/* Whites and Shadows */
/* Green */
/* Red */
/* Global reset */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting global font to 1rem = 10px for ease of use when setting dimensions */
html {
  font-size: 62.5%;
  background-color: #B7C4CD;
}

/* Setting global font family and size limits on the body */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  max-width: 140rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #B7C4CD;
  position: relative;
}

/* Import to enable use of variables */ /* Colour schema */
/* Blue */
/* Charcoal */
/* Whites and Shadows */
/* Green */
/* Red */
.landing-container {
  color: #000058;
}
.landing-container .landing-title {
  font-size: 2rem;
  text-transform: uppercase;
}

/* Typography of the header at the top of each page */
.header-container .header-title h1 {
  color: #000058;
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 300;
  text-shadow: 2px 2px 6px #171D22, -2px -2px 6px #B7C4CD;
}

/* Typography of the login page */
.login-form .login-form__heading {
  text-align: center;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: #00003F;
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 2px 2px 6px #171D22, -2px -2px 6px #B7C4CD;
}

/* Typography of the feedback pages */
.feedback-container .primary-message,
.login-feedback-container .primary-message,
.logout-feedback-container .primary-message,
.add-credentials-container .primary-message,
.view-credentials-container .primary-message {
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px #171D22, -2px -2px 6px #B7C4CD;
  text-align: center;
}
.feedback-container .success,
.login-feedback-container .success,
.logout-feedback-container .success,
.add-credentials-container .success,
.view-credentials-container .success {
  color: #228B22;
}
.feedback-container .fail,
.login-feedback-container .fail,
.logout-feedback-container .fail,
.add-credentials-container .fail,
.view-credentials-container .fail {
  color: #8B2222;
}
.feedback-container .secondary-message,
.login-feedback-container .secondary-message,
.logout-feedback-container .secondary-message,
.add-credentials-container .secondary-message,
.view-credentials-container .secondary-message {
  text-align: center;
  font-size: 2rem;
  color: #000058;
}

/* Typography of the add credential repo page */
.add-repo-form .add-repo-form__heading {
  text-align: center;
  margin: 5rem auto;
  text-transform: uppercase;
  color: #00003F;
  font-size: 4rem;
  font-weight: 300;
  text-shadow: 2px 2px 6px #171D22, -2px -2px 6px #B7C4CD;
}

/* Typography of the reassign user page */
.reassign-user-wrapper h2,
.reassign-user-wrapper h3 {
  font-weight: 700;
  color: #000058;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #171D22, -1px -1px 3px #B7C4CD;
  text-align: center;
}
.reassign-user-wrapper h3 {
  font-weight: unset;
  text-align: left;
  text-transform: unset;
  color: #8B2222;
}
.reassign-user-wrapper .h2 {
  color: #000058;
  text-shadow: 1px 1px 3px #171D22, -1px -1px 3px #B7C4CD;
  color: #228B22;
  font-weight: unset;
}

/* Styling and typography of buttons */
.btn-login,
.btn-register,
.btn-primary,
.btn-header,
.btn-body,
.table-btn {
  margin: 0 0.5rem;
  border-radius: 1rem;
  border: none;
  background: linear-gradient(to bottom, #B7C4CD, #00003F);
  text-transform: uppercase;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 1.4rem;
}
.btn-login:hover,
.btn-register:hover,
.btn-primary:hover,
.btn-header:hover,
.btn-body:hover,
.table-btn:hover {
  background: linear-gradient(to bottom, #FFFFFF, #00003F);
  box-shadow: 1px 1px 3px #2C3840, -1px -1px 3px #FFFFFF;
}
.btn-login:active,
.btn-register:active,
.btn-primary:active,
.btn-header:active,
.btn-body:active,
.table-btn:active {
  background: linear-gradient(to bottom, #B7C4CD, #00003F);
}

.btn-login,
.btn-register,
.btn-primary {
  height: 5rem;
  width: 10rem;
}

.btn-header,
.btn-body {
  padding: 1rem 1rem;
  width: 20rem;
  font-size: 1.1rem;
  margin: 0.5rem;
}

.feedback-container__btn {
  position: relative;
}
.feedback-container__btn .btn-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-btn {
  padding: 0.5rem;
  font-size: 1.4rem;
  text-transform: unset;
}

/* Import to enable use of variables */ /* Colour schema */
/* Blue */
/* Charcoal */
/* Whites and Shadows */
/* Green */
/* Red */
/* Styling of the header that appears at the top of all pages */
.header-container {
  background-color: #9FB1BE;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 3rem #2C3840, -1rem -1rem 3rem #B7C4CD;
}
.header-container .header-logo .header-logo_img {
  height: 10rem;
}

/* Styling of the navigation bar that appears at the top of all pages */
.navigation-container {
  background-color: #9FB1BE;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 3rem #2C3840, -1rem -1rem 3rem #B7C4CD;
}

.card {
  box-shadow: 1rem 1rem 3rem #2C3840, -1rem -1rem 3rem #B7C4CD;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.add-repo-form {
  width: 50rem;
  margin: 3rem auto;
}

/* Layout of the AddCredentialFeedback page and message */
.add-credentials-wrapper {
  position: relative;
  height: 50vh;
}
.add-credentials-wrapper .add-credentials-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Layout of the header at the top of all renders */
.header-container {
  margin: 1rem auto;
  width: 133rem;
}
.header-container .header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Responsive width laptop to larger screens */
@media only screen and (min-width: 104rem) {
  .header-container {
    width: 138rem;
  }
}
/* Layout of the landing page that will greet the user when navigating to the application */
.home-wrapper {
  position: relative;
  width: 133rem;
}
.home-wrapper .home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home-wrapper .home-container .home-logo img {
  height: 30rem;
  width: auto;
}

/* Responsive screen width laptop to larger screens */
@media only screen and (min-width: 104rem) {
  .home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Layout of the landing page that will greet the user when navigating to the application */
.landing-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 133rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.landing-container .landing-logo img {
  height: 30rem;
  width: auto;
}
.landing-container .landing-access_btn {
  margin-top: 1rem;
}

/* Responsive screen width laptop to larger screens */
@media only screen and (min-width: 104rem) {
  .landing-container {
    width: 138rem;
  }
}
/* Layout of the login page */
.login-form {
  width: 30rem;
  margin: 10rem auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-feedback,
.logout-feedback {
  position: relative;
}
.login-feedback .login-feedback-container,
.login-feedback .logout-feedback-container,
.logout-feedback .login-feedback-container,
.logout-feedback .logout-feedback-container {
  margin-top: 15rem;
}

.feedback-container__btn {
  display: block;
  position: relative;
  height: 7rem;
}
.feedback-container__btn .logout-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Layout of the navigation bar that appears after login */
.navigation-container {
  margin: 1rem auto;
  width: 133rem;
}

.navigation-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* Responsive width laptop to larger screens */
@media only screen and (min-width: 104rem) {
  .navigation-container {
    width: 138rem;
  }
}
.reassign-user-form {
  width: 20rem;
  margin: 3rem auto;
}
.reassign-user-form ul {
  margin: 3rem auto;
}

.reassign-user-email {
  width: 30rem;
  margin: 3rem auto;
}

.registration-form {
  width: 50rem;
  margin: 3rem auto;
}

/* Layout of the registration feedback message and buttons */
.feedback-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 80%;
}

/* Layout and size of the loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.spinner-container .spinner {
  height: 5rem;
  width: 5rem;
}

.card {
  width: 133rem;
  margin: 5rem auto;
  border-radius: 1rem;
}

/* Responsive screen width laptop to larger screens */
@media only screen and (min-width: 104rem) {
  .card {
    width: 138rem;
  }
}
/* Import of Google Font 'Lato' */

/*# sourceMappingURL=main.css.map */
