/* Layout of the AddCredentialFeedback page and message */
.add-credentials-wrapper {
  position: relative;
  height: 50vh;

  .add-credentials-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

