.change-role-wrapper {

  width: 50rem;
  margin: 3rem auto;

  .change-role-email {
    width: 30rem;
    margin: 3rem auto;
  }

  .current-role {
    margin: 3rem auto;
    width: 30rem;
  }

  .update {
    margin: 3rem auto;
    width: 30rem;
  }

  .change-role-form {
    width: 30rem;
    margin: 3rem auto;
  }

}