/* Layout of the tables used in the site */
.card {
  width: 133rem;
  margin: 5rem auto;
  border-radius: 1rem;
}

/* Responsive screen width laptop to larger screens */
@media only screen and (min-width: 104rem) {
  .card {
    width: 138rem;
  }
}